<h1>Welcome to angular</h1>

{{userform.value | json}}
<form #userform="ngForm" class="form-group" (ngSubmit)="onSubmit(userform)">

    <label for="username">
        Name :
    </label>
    <!-- <input type="text" name="username" ngModel placeholder="Enter name..." class="form-control"> -->
    <input type="text" name="username" #username="ngModel" [(ngModel)]="userModel.username" placeholder="Enter name..."
        class="form-control" required>
    <span *ngIf="username.invalid && username.touched" class="text-danger">Username is required</span>
    <br>
    <label for="email">
        Email :
    </label>
    <!-- <input type="email" name="email" ngModel placeholder="Enter email..." class="form-control"> -->
    <input type="email" name="email" #email="ngModel" [(ngModel)]="userModel.email" placeholder="Enter email..."
        class="form-control" required>
    <!-- <span *ngIf="email.invalid && email.touched" class="text-danger">Email is required</span> -->
    <span *ngIf="email.invalid && email.touched" class="text-danger">Email is required</span>
       <!-- <span *ngIf="email.valid && email.touched" class="text-success"> Done </span> -->
    <br>
    <label for="password">
        Password :
    </label>
    <input type="password" name="password" #password="ngModel" ngModel placeholder="Enter password..." class="form-control" required minlength="8">
    <div *ngIf="password.errors?.['minlength'] ">
      <span class="text-danger">Minimum length must be 8 character</span>
    </div>
    <span *ngIf="password.invalid && password.touched" class="text-danger">Password is required</span>
    <div class="form-check" >
        <input type="radio" id="male" name="gender" value="male" ngModel class="form-check-input">
        <label>Male</label>
        <input type="radio" id="female" name="gender" value="female" ngModel class="form-check-input">
        <label>Female</label>
        <input type="radio" id="other" name="gender" value="other" ngModel class="form-check-input">
        <label>Other</label>
    </div>

    <br>
    <br>
    <input type="checkbox" name="remember" value="remember">

    <label>Remember me</label>
    <br>
    <br>
    <button [disabled]="!userform.valid" type="submit" class="d-flex justify-content-center text-align-center btn btn-success">Submit</button>


</form>